#title-div{
    background-color: orange;
    color: white;
    margin: 10px 10px;
    padding: 10px 10px;
    width: 25%;
}

#second h5,
#second p {
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
}
#images img{
    width: 150px;
    height: 150px;
    padding: 10px 10px;
    border: 2px solid black;
}
#wrapper{
    width: 50%;
    border: 5px black solid;
}

#first {
    padding: 5px 5px;
    display: inline-block;
    width: 50%;
}
#second {
    border-left: 5px solid black;
    display: inline-block;
    width: 40%;
}
#total-score{
    width: 150px;
    height: 100px;
    border: 4px black solid;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}